<h2 class="text-center mt-4 "> <%= @article.title %> </h2>

<div class="container mt-4  min-vh-100">
    <div class="row justify-content-md-center"> 
    <div class="col-12 mt-4">
<div class="card text-center shadow  mb-5 bg-white rounded">
  <div class="card-header font-italic">
  By  <%= @article.user.username if @article.user %>
<% if @article.categories.any? %>
<% render @article.categories %> 
<% end %>

  </div>

  <div class="card-body mt-3">
    <div class="card-text text-left mt-3"><%= simple_format ( @article.description) %></div>

</div>

  <div class="card-footer text-muted mb-5">

  <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
<%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
<%= button_to "Delete", article_path(@article), class: "btn btn-primary col-md-1 mt-3", method: :delete %>

<% end %>

    <small> Created   <%= time_ago_in_words(@article.created_at) %> ago,

    edited  <%= time_ago_in_words(@article.updated_at) %> ago </small>
  </div>
</div>
</div>
</div>
</div>




